.tt-suggestion {
    margin-top: -20px;
    width: 160%;
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    border: solid 1px #e9e9e9;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

.tt-suggestion.tt-cursor {
    background-color: #e9e9e9;

}

.tt-suggestion p {
    margin: 0;
}

input.typeahead {
    float: left;
    width: 160%;
}